<div class="jumbotron text-center">
  <h1>Shareable</h1>
  <p>Show your projects to the world</p>
  <% if current_user %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-lg', role: 'button' %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    <%= link_to "Register", new_user_registration_path, class: 'btn btn-success btn-lg', role: 'button' %>
  <% end %>


</div>
