<% if !user_signed_in? %>
  <div class="jumbotron text-center">
    <h1>Shareable</h1>
    <p>Show your projects to the world</p>
    <%= link_to "Login", new_user_session_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    <%= link_to "Register", new_user_registration_path, class: 'btn btn-success btn-lg', role: 'button' %>
  </div>
<% end %>

<h1>Projectos actuales</h1>

<%= render 'shared/show_projects', projects: @approved_projects %>
